.ad-section {
  padding: 20px;
}

.ad-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ad-image {
  width: 100px; /* Tamanho menor da imagem */
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.ad-info h3 {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: var(--highlight-color);
}

.ad-info p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.ad-info a {
  background-color: var(--highlight-color);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.ad-info a:hover {
  background-color: var(--highlight-hover);
}
